[ -f .env ] || cp .env.example .env
dotenv

if [ -z "$VENV_HOME_BASE_DIR" ]; then
    red="\033[0;31m"
    no_color="\033[0m"
    printf "${red}ERROR:${no_color} VENV_BASE_DIR environmental variable is missing, can't use virtualenv\n" >&2
    exit 1
fi

venv_dir=$HOME/$VENV_HOME_BASE_DIR/yggdrasil

if [ -z "$YGGDRASIL_CONFIG_FILE_PATH" ]; then
    YGGDRASIL_CONFIG_FILE_PATH="$PWD/example_config.yaml"
    export YGGDRASIL_CONFIG_FILE_PATH
fi

if [ -d "$venv_dir" ]; then
    echo "Venv exists"
    venv_exists=1
else
    echo "Creating venv"
    venv_exists=0
    python3.12 -m venv $venv_dir
fi

echo "Activating venv"
source $venv_dir/bin/activate

if [ "$venv_exists" = 0 ]; then
    echo "Installing project dependencies"
    pip install -U pip setuptools wheel
    poetry install
fi

# parse and export db variables
export $(inv print-parsed-db-url-env-vars | xargs)

unset PS1
