html, body, #root {
    height: 100%;
}

body {
    background-image: url("https://i.redd.it/6zcqfq6m6dqb1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
